

@media only screen and (max-width: 600px) {
body {
 background-color: rgb(94, 94, 94);
}
.container {
 width: 100%;
}
.content-box{
 min-width: 85%;
}
}


.content-box {
 display: block;
  width: 225px;
  height: 200px;
  padding: 20px;
  margin: 0px ;
  background-color: #cdcdcd;
  
  border-radius: 5px;
  min-width: 28.3%;
}
.Dnadpis{
  font-size: 150%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
#AWK{
  background-color: white;padding: 20px;
  border-radius: 5px;

}